@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: rgb(1, 2, 2) !important;
  overflow: hidden;
  padding: 0px;
  margin: 0px !important;
  text-align: center;
}

.leaf1 {
  position: absolute;
  background-color: rgb(77, 113, 23);
  height: 160px;
  width: 60px;
  left: -100%;
  border-radius: 70%;
  transform-origin: bottom;
  animation: leaf1 0.5s both;
}

.fishTank {
  position: relative;
  top: 20%;
  border-top: 20px solid rgb(40, 42, 43);
  border-left: 5px solid rgb(40, 42, 43);
  border-right: 5pxsolid rgb(40, 42, 43);
  border-bottom: 50px solid rgb(40, 42, 43);
  width: 80px;
  min-height: 500px;
  min-width: 1000px;
  background-image: linear-gradient(to top, rgb(23, 13, 64), rgb(146, 220, 247));
  height: 60%;
  margin: auto;
}