.fishTank{

    position:relative;
    top:20%;
    border-top: 20px solid rgb(40, 42, 43);
    border-left:5px solid rgb(40, 42, 43);
    border-right: 5pxsolid rgb(40, 42, 43);
    
    border-bottom: 50px solid rgb(40, 42, 43);
    width:80px;
    min-height:500px;
    min-width:1000px;
    background-image: linear-gradient(to top, rgb(23, 13, 64), rgb(146, 220, 247));
    height:60%;
    margin:auto;

}

.base{

}